Web References/Facade_Search/Facade_Search.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Search_User">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sPersonnd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iPerosnid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search_UserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Search_UserResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_Obtener_User">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="spersonnd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipersonid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_Obtener_UserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_Obtener_UserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_ObtenerPresupuestoSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scodcountry" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_ObtenerPresupuestoSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_ObtenerPresupuestoSearchResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Search_UserSoapIn">
    <wsdl:part name="parameters" element="tns:Search_User" />
  </wsdl:message>
  <wsdl:message name="Search_UserSoapOut">
    <wsdl:part name="parameters" element="tns:Search_UserResponse" />
  </wsdl:message>
  <wsdl:message name="Get_Obtener_UserSoapIn">
    <wsdl:part name="parameters" element="tns:Get_Obtener_User" />
  </wsdl:message>
  <wsdl:message name="Get_Obtener_UserSoapOut">
    <wsdl:part name="parameters" element="tns:Get_Obtener_UserResponse" />
  </wsdl:message>
  <wsdl:message name="Get_ObtenerPresupuestoSearchSoapIn">
    <wsdl:part name="parameters" element="tns:Get_ObtenerPresupuestoSearch" />
  </wsdl:message>
  <wsdl:message name="Get_ObtenerPresupuestoSearchSoapOut">
    <wsdl:part name="parameters" element="tns:Get_ObtenerPresupuestoSearchResponse" />
  </wsdl:message>
  <wsdl:portType name="Facade_SearchSoap">
    <wsdl:operation name="Search_User">
      <wsdl:input message="tns:Search_UserSoapIn" />
      <wsdl:output message="tns:Search_UserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Obtener_User">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">esto es prueba</wsdl:documentation>
      <wsdl:input message="tns:Get_Obtener_UserSoapIn" />
      <wsdl:output message="tns:Get_Obtener_UserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_ObtenerPresupuestoSearch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Llena  Combo de busqueda de presupuesto en Planning</wsdl:documentation>
      <wsdl:input message="tns:Get_ObtenerPresupuestoSearchSoapIn" />
      <wsdl:output message="tns:Get_ObtenerPresupuestoSearchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Facade_SearchSoap" type="tns:Facade_SearchSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search_User">
      <soap:operation soapAction="http://tempuri.org/Search_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Obtener_User">
      <soap:operation soapAction="http://tempuri.org/Get_Obtener_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ObtenerPresupuestoSearch">
      <soap:operation soapAction="http://tempuri.org/Get_ObtenerPresupuestoSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Facade_SearchSoap12" type="tns:Facade_SearchSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search_User">
      <soap12:operation soapAction="http://tempuri.org/Search_User" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Obtener_User">
      <soap12:operation soapAction="http://tempuri.org/Get_Obtener_User" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ObtenerPresupuestoSearch">
      <soap12:operation soapAction="http://tempuri.org/Get_ObtenerPresupuestoSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Facade_Search">
    <wsdl:port name="Facade_SearchSoap" binding="tns:Facade_SearchSoap">
      <soap:address location="http://localhost:14000/Facade_Search.asmx" />
    </wsdl:port>
    <wsdl:port name="Facade_SearchSoap12" binding="tns:Facade_SearchSoap12">
      <soap12:address location="http://localhost:14000/Facade_Search.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>